@use 'variables' as *;

.daylight {
  background: $bg-lighter;
}

body {
  background: $bg-lighter;
  color: $not-black;
}

a, a:visited, a:hover {
	color: $purple;
}

.header-nav {
  a.header-nav__link--active {
    border-bottom: solid $not-black 3px;
  }
}
