.projectList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
    .projectCardWrapper {
		width: 48%;
      	margin: 25px 0;
  	}
    .projectCard {
      	h2, p {
			margin: 0;
			padding: 0;
		}
		p {
			padding: 5px 0 10px 0;
		}
    }
    .projectHero {
      	box-shadow: 0 6px 6px 0 rgba(24,24,24,0.15);
     	border-radius: 5px;
		transition: box-shadow ease .5s;
		aspect-ratio: 4 / 3;
		overflow: hidden;
		object-fit: cover;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			box-shadow: 0 8px 8px 0 rgba(24,24,24,0.25);
			transition: box-shadow ease .5s;
		}
		.heroImage {
			height: 100%;
			width: auto;
		}
    }
  
	&.cards {
		.project-card-wrapper {
			width: 30%;
			padding: 4px;

			.project-card {
				border-radius: 10px;

				h2, p {
					padding: 0 12px;
				}
			}
		}
	}
	img {
		border-radius: 10px;
	}
}

.projectPage {	
	.projectHero {
		position: relative;
		max-height: 450px;
		overflow: hidden;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		.heroImage {
			width: 100%;
			height: auto;
		}
	}
	.projectTitle {
		h1.title {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.client, .projectDate {
			color: $gray;
			font-size: $fs-sm;
			margin: 5px 0;
			line-height: $lh-sm;
			margin-left: 1px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.projectStats {
		display: flex;
		border-top: solid $gray-border 1px; 
		margin-top: 20px;
		padding-top: 20px;
		.stat {
			margin-right: 20px; 
			.statLabel, .statValue {
				font-size: $fs-sm;
				margin: 5px 0;
				line-height: $lh-sm;
			}
			.statLabel {
				color: $gray;
			}
			.statValue {
	
			}
		}
	}
}
