//colors
$not-black: #181818;
$gray: #8F8F8F;
$purple: #895A9D;
$teal: #198597;
$light-teal: #E1F9FA;
$light-teal2: #D3F1F8;
$light-purple: #E6DCEA;
$light-purple2: #EEEDFF;
$light-blue: #E6F0FF;
$gray-border: #C4C4C4;
$bg-light: #F4F4F4;
$bg-lighter: #FAFAFA;
$accent: #54D6FF;

//breakpoints
$bp-small: 420px;
$bp-medium: 720px;
$bp-large: 1080px;
$bp-xl: 1400px;

$mq-breakpoints: (
  small: $bp-small,
  medium: $bp-medium,
  large: $bp-large,
  extra-large: $bp-xl,
);

//type
$font-family: 'Source Sans 3', 'Arial', sans-serif;
$font-title: 'Source Serif 4', serif;
$fs-sm: 1rem;
$fs-base: 1.2rem;
$fs-h1xl: 4rem;
$fs-h1: 2.5rem;
$fs-h2: 2rem;
$fs-h3: 1.5rem;
$lh-base: 1.625rem;
$lh-md: 1.8rem;
$lh-sm: 1.25rem;
$lh-h1: 3.5rem;
$lh-h2: 3rem;
$lh-h3: 2rem;
$fw-light: 300; //for title font
$fw-normal: 400;
$fw-bold: 600;
