.whoami {
    margin-top: 80px;
}

.ethos, .skills, .edu, .pub {
  h2 {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 3rem;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    li {
        list-style: none;
    }
  }
}

.pub {
  .pub-item {
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}
